$white: #fff;
$black: #000;
$red: #f22439;

$text-color: rgba(
  $color: #000,
  $alpha: 0.7,
);

$boxShadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
  rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;

$margin-y: 40px;
$gap24: 24px;
$gap36: 36px;
$padding16: 16px;
$padding24: 24px;
$padding36: 36px;

$iconSizes: 16px, 24px, 36px, 48px;
