@import "../../assets/scss/index.scss";
.pokemon-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: $gap36;
  margin: $margin-y 0;
}

.search {
  @include flex(flex-start, center);

  @include tablet {
    flex-direction: column;
  }

  @include mobile {
    flex-direction: column;
  }
}

.mode {
  flex-direction: row;
  margin-left: 20px;
  width: 600px;
  flex-shrink: 0;
  @include flex(flex-start, center);
  @include tablet {
    margin-top: 16px;
    width: unset;
    flex-wrap: wrap;
  }

  @include mobile {
    margin-top: 20px;
    width: unset;
    flex-wrap: wrap;
  }
  & > span {
    @include flex(flex-start, center);
    @include tablet {
      flex-basis: 50%;
    }
    @include mobile {
      flex-basis: 50%;
    }
    padding: 8px 12px;
    & > span {
      margin-left: 8px;
    }
  }
}
.load-more {
  @include flex(center, center);
}
