@import "../../assets/scss/index.scss";

.theme {
  $width: 300px;
  $height: 300px;
  $bottom: 40px;
  $shadow: rgba(0, 0, 0, 0.3) 0px 3px;

  &__container {
    position: fixed;
    bottom: $bottom;
    right: 0;
    width: $width;
    height: $height;
    padding: 16px;
    background-color: $white;
    transform: translateX($width);
    transition: transform 0.3s ease;
    display: flex;
    flex-direction: column;
    border-top-left-radius: 4px;
    box-shadow: $shadow;
    @include mobile {
      display: none;
    }

    &.active {
      transform: translateX(0);
    }
  }

  &__icon {
    position: fixed;
    bottom: $bottom;
    right: $width;
    padding: 8px 12px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    box-shadow: $shadow;
    background: $white;
    transform: translateX($width);
    transition: transform 0.3s ease;
    @include mobile {
      display: none;
    }

    & .icon-36px {
      cursor: pointer;
      transform: rotate(0deg);
      transition: transform 0.3s ease;
      &:hover {
        transform: rotate(180deg);
      }
    }

    &.active {
      transform: translateX(0);
    }
  }

  &__name {
    text-align: center;
    padding: 8px 0;
    display: block;
    margin-bottom: 8px;
    flex-shrink: 0;
  }

  &__content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(30px, 1fr));
    gap: 12px;
    margin-bottom: 8px;
    flex: 1;
    overflow-y: auto;
  }

  &__item {
    width: 100%;
    padding-top: 100%;
    background-clip: padding-box;
    cursor: pointer;
    border-radius: 4px;
    border: 2px solid transparent;

    &.active {
      border: 2px solid #2f6db4;
    }
  }
}
